.button__entry {
  font-size: 9px;
  background-color: #E9E0CF;
  border: 1px solid #454140;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.button__entry-text {
    color: #4C0017;
}
